@page
@model Mafia_Razor_Pages.Pages.Forms.CharacterInputModel
@{
}

<section class="character-container">
    <!-- Top section: Character registration and table -->
    <div class="character-left-section">
        <div class="form-container">
            <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 alert-light">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="register-character">
                    <span asp-validation-for="Character" class="text-danger"></span>
                    <input type="text" class="mt-1 character-input" asp-for="Character" placeholder="Character" />
                    <br />
                    <label>Remaining Slots: <span>@Model.RemainingSlots</span></label>
                </div>

                <div class="d-flex justify-content-left">
                    <button class="btn btn-primary mt-1" type="submit">Register Character</button>
                </div>
            </form>
        </div>

        <section class="character-insert-section">
            @* <h3>Characters</h3> *@
            <table class="table">
                <thead>
                    <tr>
                        <th>Characters</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var character in Model.Characters)
                    {
                        <tr>
                            <td>@character</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>

    <div class="character-right-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 mt-5">
                    <div class="w-100 row makeYourOwnDiv">
                        <div class="col-8 align-items-center">
                            <div class="align-middle makeYourOwnText">
                                <h3 style="text-align:left;">Click on each character</h3>
                                <p style="text-align: left;">Step into the shadows, where trust is scarce and danger lurks. Choose your character and play your role. Will you outsmart the Mafia or become their next victim?</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @foreach (var image in Model.CharacterImages)
                    {
                        var imagePath = $"~/images/{image}.jpg";
                        string pagePath = $"../Characters/{char.ToUpper(image[0])}{image.Substring(1)}";

                        <div class="col-6 col-md-4 mb-4">
                            <a class="character-img" asp-area="" asp-page="@pagePath">
                                <div class="img-container">
                                    <img src="@imagePath" class="img-fixed" asp-append-version="true" alt="@image" />
                                </div>
                            </a>
                        </div>
                    }
                </div>


            </div>
        </div>

    </div>
</section>