@page
@model Mafia_Razor_Pages.Pages.GameModel
@{
}


<div class="game-container">
    <div class="foul-container">
        <h1>Fouls</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Seat Number</th>
                    <th>Foul</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model._context.Players)
                {
                    <tr>
                        <td>@player.Id</td>
                        <td>@player.SeatNumber</td>
                        <td>@player.NumberOfFouls</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="record-container">
        <div class="post-container">
            <form method="post">
                <div class="form-check">
                    <input type="radio" name="character" id="mafia" value="Mafia" style="display: inline-block; width: 20px; height: 20px;">
                    <label class="form-check-label" for="mafia">Mafia</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="character" id="don" value="Don" style="display: inline-block; width: 20px; height: 20px;">
                    <label class="form-check-label" for="don">Don</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="character" id="serial" value="Serial Killer" style="display: inline-block; width: 20px; height: 20px;">
                    <label class="form-check-label" for="serial">Serial Killer</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="character" id="detective" value="Detective" style="display: inline-block; width: 20px; height: 20px;">
                    <label class="form-check-label" for="detective">Detective</label>
                </div>
            </form>
        </div>

        <div id="posts-list">

        </div>
    </div>

    <div class="player-container">
        <h1>Players</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Character</th>
                    <th>Seat Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model._context.Players)
                {
                    <tr>
                        <td>@player.Id</td>
                        <td>@player.Name</td>
                        <td>@player.Surname</td>
                        <td>@player.Character</td>
                        <td>@player.SeatNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

