@page
@model Mafia_Razor_Pages.Pages.SelectionModel
@{
}

<div class="selection-container">
    <div class="character-left-section">
        <main class="selection-table">
            <section class="table_header">
                <h1>Player's Orders</h1>
            </section>
            <section class="table_body">
                @if (Model._context.Players.Any())
                {
                    <table>
                        <thead>
                            <tr>
                                @* <th>ID</th> *@
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Seat Number</th>
                                <th>Character</th>
                                <th>First Lose</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in Model._context.Players.ToList())
                            {
                                <tr>
                                    @* <td>@player.Id</td> *@
                                    <td>@player.Name</td>
                                    <td>@player.Surname</td>
                                    <td>@player.Age</td>
                                    <td>@player.PhoneNumber</td>
                                    <td>@player.Gmail</td>
                                    <td>@player.SeatNumber</td>
                                    <td>@player.Character</td>
                                    <td>@(player.IsFirstLose ? "Yes" : "No")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="text-center text-muted">No players found.</p>
                }
            </section>
        </main>
    </div>

    <div class="character-right-section">
        <h1>Nao CHAMA!</h1>
        @if (Model.MyCharacters != null)
        {
            <ul>
                @foreach (var character in Model.MyCharacters)
                {
                    <li>@character</li>
                }
            </ul>
        }
        <form method="post">
            <button asp-page-handler="OrganizeCharacters" class="btn btn-primary" type="submit">Organize Characters</button> @*OrganizeCharacters -> OnPostOrganizeCharacters*@
        </form>
        </br>
        <form method="post">
            <button asp-page-handler="OrganizeSeats" class="btn btn-primary" type="submit">Organize Seats</button>
        </form>
        <br />
        <form method="post">
            <button asp-page-handler="StartGame" class="btn btn-primary" type="submit">
                Start Game
            </button>
        </form>
    </div>

</div>